<p>page-not-found works!</p>
<div class="container-fluid">

    <div class="row  justify-content-center align-items-center" style="height: 100vh;">
        <div class="col d-flex  flex-column align-items-center ">
            <div>
                <img src="/assets/page-404.jpg" alt="page not found" style="width:600px" height="350px">
            </div>
            <div>
                <button class="btn btn-primary" routerLink="/login"> home</button>
            </div>
        </div>
    </div>

</div>