*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    /* font-family: cursor: pointer; */
}
.parent{
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
    background:url("src\assets\loginback1.jpg");
    /* background-color:; */
    background-repeat: no-repeat;
    background-position-x: center;            
    background-size: cover;
    align-items: center;
}
.box{
    width: 450px;
    position: absolute;
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;

}
h1{
    margin-bottom: 30px;
    color: red;
    text-align: center;
    text-transform: capitalize;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding:10px;
    font-size: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}