<div class="container contact-form mt-5" style="background-color: papayawhip;">
    <h1 style="margin-left: 400px;">Contact us</h1>
    <hr>

    <div class="row">

        <div class="col-md-6">
            <address>
                9, 10th Gulmohar Cross Rd,
                Gulmohar Road, JVPD Scheme, Juhu, Mumbai,
                Maharashtra 400049
            </address>
            <p>Email:nlab2402@gmail.com</p>
            <p>Phone no :9456852</p>
            <hr>
            <p>
                Customer Care No:022 2620 1606
            </p>
        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control">
            </div>



            <div class="form-group">
                <label for="">Mobile</label>
                <input type="text" class="form-control">
            </div>

            <!-- <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control">
                </div> -->
            <div class="form-group">
                <label for="">Message</label>
                <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Submit
                </button>
            </div>
        </div>

    </div>
</div>