<!-- <p>home works!</p> -->

<div class="container-fluid">
    <!-- navigation bar -->

    <div class="row bg-danger pt-3 sticky-top" style="height:65px;">
        <!-- leftpart -->
        <div class="col-6">

            <div class="row text-white ">

                <div class="col-2 "><img src="assets/double-decker-bus.png" alt="customer service" srcset=""
                        height="50px" width="70px">
                </div>

                <div class="col-2" routerLink="/home" style="cursor: pointer;"> Ride Bus </div>
                <div class="col-2" routerLink="/" style="cursor: pointer;"> Bus Tickets </div>
                <div class="col-2" routerLink="/" style="cursor: pointer;">Rpool </div>
                <div class="col-2" routerLink="/" style="cursor: pointer;">Bus Hire</div>
                <div class="col-2" routerLink=" /" style="cursor: pointer;">Help</div>

            </div>

        </div>
        <!-- right Part -->
        <div class="col-6 text-white ">

            <div class="row ">

                <div class="col-3" routerLink="/" style="cursor: pointer;"></div>
                <div class="col-3" routerLink="/" style="cursor: pointer;">Manage Booking</div>
                <div class="col-3" routerLink="/login" style="cursor: pointer;">Login</div>
                <div class="col-3" style="cursor: pointer;" (click)=logout()>Logout</div>

            </div>

        </div>

    </div>


    <!-- search routes -->

    <div class="row d-flex justify-content-center align-items-center" style="height: 420px;
         background-image:url(assets/travel-showcase.jpg); background-size: cover; background-repeat: no-repeat;">


        <div class="col-5 d-flex ">
            <div>
                <input class="form-control " type="text" name="source" id="" placeholder="Source">
            </div>
            <div>
                <input class="form-control " type="text" name="Destination" id="" placeholder="Destination">
            </div>
            <div>
                <input class="form-control " type="date" name="date" id="" placeholder="Date">
            </div>
            <div>

                <!-- <submit type=" submit">search </submit> -->

                <button class="white py-2 px-4 bg-dark text-white" type="submit"
                    (click)="searchResults()">SUMBIT</button>

                <!-- <img src="/images/plane.png" alt="" srcset=""> -->

            </div>
        </div>

    </div>

    <!-- <div class="row  border border-danger align-items-center justify-content-center" style="height:100px;">
        <div class="col-8" *ngFor="let item of list">
            {{item.title}}
        </div>
    </div> -->

    <div class="border border-secondary" *ngFor="let item of list">
        {{item.title}}
    </div>

    <!-- advertisiment -->



    <div class="row  mt-3 py-3  d-flex justify-content-center align-items-center" style="height:300px;"
        style="background: palegoldenrod;">

        <!-- <div class="col-12">
            <div class="row"> -->

        <div class="col-3 bg mr-5 ">
            <img src="assets/travel.jpg" height="270px" width="400px">

        </div>
        <div class="col-3 mr-5">
            <img src="assets/pre-reg.png" height="270px" width="400px">
        </div>
        <div class="col-3 mr-5">
            <img src="assets/amzn.png" height="270px" width="400px">
        </div>

        <!-- </div>
        </div> -->

    </div>

    <!--track my bus  -->
    <div class="row mt-3 py-3 bg-secondary" style="height:350px;">

        <div class=" col-6 ">

            <div class="row ">
                <div class="col-1"></div>
                <div class="col-11">
                    <img src="assets/service.jpg" height="300px" width="100%">
                </div>
            </div>


        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-10">

                    <h2>
                        TRACK MY BUS - Smarter Way To Travel
                    </h2>
                    <p>Track your bus with our ‘Track My Bus’ feature and know the exact location in real-time.Stay
                        informed and
                        keep your family informed!
                    </p>
                    <input type="button" value="Know More" class="btn btn-lg btn-dark">
                </div>
            </div>


        </div>
    </div>

    <!-- our promises -->
    <div class="row " style="height:750px">

        <div class="col-12">
            <div class="row mt-3 d-flex justify-content-center align-items-center"
                style="height:250px;background: palegoldenrod;">

                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/trust.png" height="200px" width="200px">
                    <h3>WE PROMISE TO DELIVER</h3>
                </div>

            </div>

            <div class="row " style="height:500px">
                <div class="col-12">
                    <div class="row d-flex  justify-content-center align-items-center" style="height: 230px;">

                        <div
                            class="col-5 m-2 p-3 bg-info  d-flex flex-column justify-content-center align-items-center">
                            <div>
                                <img src="assets/saftey.png" alt="saftey" srcset="" height="100px" width="100px">
                            </div>
                            <div style="font-size:20px; font-weight: bold;">
                                SAFTEY
                            </div>
                            <div>
                                With Safety we have brought in a set of measures like Sanitized buses, mandatory masks
                                etc. to
                                ensure you travel safely.

                            </div>
                        </div>

                        <div
                            class="col-5 m-2 p-3 bg-light d-flex flex-column justify-content-center align-items-center">
                            <div><img src="assets/support.png" alt="customer service" srcset="" height="100px"
                                    width="100px">
                            </div>
                            <div style="font-size:20px; font-weight: bold;">
                                SUPERIOR CUSTOMER SERVICE
                            </div>
                            <div>We put our experience and relationships to good use and are available to solve your
                                travel
                                issues.
                            </div>
                        </div>

                    </div>

                    <div class="row d-flex  justify-content-center align-items-center" style="height: 230px;">

                        <div
                            class="col-5 m-2 p-3 bg-light d-flex flex-column justify-content-center align-items-center">
                            <div><img src="assets/money.png" alt="affordable price" srcset="" height="100px"
                                    width="100px">
                            </div>
                            <div style="font-size:20px; font-weight: bold;">
                                LOWEST PRICES
                            </div>
                            <div>We always give you the lowest price with the best partner offers. Hello Are you there
                                hello</div>
                        </div>

                        <div
                            class="col-5 m-2 p-3  bg-info d-flex flex-column justify-content-center align-items-center">
                            <div><img src="assets/benefit.png" alt="Benefits" srcset="" height="100px" width="100px">
                            </div>
                            <div style="font-size:20px; font-weight: bold;">
                                UNMATCHED BENEFITS
                            </div>
                            <div>We take care of your travel beyond ticketing by providing you with innovative and
                                unique
                                benefits.
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>



    </div>

    <!-- footer data -->

    <div class="row d-flex align-items-center justify-content-center "
        style="height: 350px; background-color: #f2f2f2;">
        <div class="col-12">
            <div class="row d-flex align-items-start text-align-center" style="height: 300px;">


                <div class="col-2 pt-3 d-flex flex-column align-items-center text-align-center">
                    <h5>About RideBus</h5>
                    <div routerLink="/aboutus" style="cursor: pointer;">About Us</div>
                    <div routerLink="/contactus" style="cursor: pointer;">Contact Us</div>
                    <div routerLink="/" style="cursor: pointer;">Offers</div>
                    <div routerLink="/" style="cursor: pointer;">Careers</div>
                </div>

                <div class="col-2 pt-3 d-flex flex-column align-items-center text-align-center">
                    <h5>Info</h5>
                    <div routerLink="/" style="cursor: pointer;">T&C</div>
                    <div routerLink="/" style="cursor: pointer;">Privacy Policy</div>
                    <div routerLink="/" style="cursor: pointer;">FAQ</div>
                </div>

                <div class="col-2 pt-3  d-flex flex-column align-items-center text-align-center">
                    <h5>Global Sites</h5>

                    <div>India</div>
                    <div>US</div>

                </div>

                <div class="col-2 pt-3  d-flex flex-column align-items-center text-align-center">
                    <h5>Our Parterners</h5>
                    <div routerLink="/" style="cursor: pointer;">Goibibo</div>
                    <div routerLink="/" style="cursor: pointer;">Make my trip</div>
                </div>

                <div class="col-4  d-flex flex-column align-items-center text-align-center">
                    <div>
                        <img src="assets/double-decker-bus.png" alt="customer service" srcset="" height="100px">
                    </div>
                    <div>
                        RideBus is the world's largest online bus ticket booking service trusted by over 18 million
                        happy
                        customers globally. redBus offers bus ticket booking through its website,iOS and Android mobile
                        apps for all major routes.
                    </div>

                    <div class="d-flex   align-items-center justify-content-center">
                        <div class="p-2"><img src="assets/twitter.png" alt="customer service" srcset=""></div>
                        <div class="p-2"><img src="assets/tripadvisor.png" alt="customer service" srcset=""></div>
                        <div class="p-2"><img src="assets/instagram.png" alt="customer service" srcset=""> </div>
                    </div>

                </div>


            </div>
        </div>




    </div>

    <div class="row p-2 d-flex justify-content-center align-items-center bg-dark text-white">
        SS-NLAB Company &#169; 2020, All Right Reserved
    </div>

</div>